@model (int id, int floors)

@{
    ViewData["Title"] = "DormitoryNumber";
}

<h1>DormitoryNumber</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Выберете этаж
            </th>
        </tr>
    </thead>

    <tbody>
        @for (int i = 1; i <= Model.floors; ++i)
        {
            <tr>
                <td>
                    <a href="d@(Model.id)/f@(i)">
                        @i (Сделать через Html.ActionLink)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>