<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css\bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
            integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
            crossorigin="anonymous"></script>
    <title>In Development</title>
</head>

<body>
    <div class="px-4   text-center">
        <img class="d-block mx-auto" src="https://telegra.ph/file/6117ea18fec32db08f128.gif" alt="" width="" height="500">
        <h1 class="display-5 fw-bold">Цей гуртожиток знаходиться у розробці</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Задля виявлення потреби у даному сервісі та кращого його вдосконалення ми збільшуємо кількість гуртожитків поступово.
                Ми вже працюємо над цим гуртожитком та незабаром додамо його до системи.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a asp-controller="Home" asp-action="Index"> <button type="button" class="btn btn-primary btn-lg px-4 gap-3">На головну</button> </a>
</div>
        </div>
    </div>
</body>
