@{
    ViewData["Title"] = "Приватність";
}
<h1>@ViewData["Title"]</h1>

<p>Сайт є засобом відображення інформації, яка знаходиться у відповідних документах. Відповідно поширення або будь-які інші дії з інфорацією регламентуються відповідними чинними документами. </p>

@if (User.IsInRole("admin"))
{
    <p>Ви зайшли як адміністратор.</p>
}