@model IEnumerable<DormitoryAlliance.Client.Models.Group>

<p>
    <a asp-action="StudentIndex">Перейти до студентів</a> |
    <a asp-action="StudentCreate">Додати нового студента</a> |
    <a asp-action="GroupCreate">Додати нову групу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="GroupEdit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="GroupDetails" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="GroupDelete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
